:root {
  --background-color: #121212;
  --text-color: #ffffff;
  --gold-accent: #d4af37;
  --gold-hover: #eacd69;
  --font-main: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-main);
  box-sizing: border-box;
}

.card-title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

.service-card {
  width: 30rem;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: transform 0.3s, border-color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.service-card ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-card:hover {
  transform: translateY(-10px);
  border-color: var(--gold-accent);
}

.service-card h4 {
  font-size: 1.5rem;
  color: var(--gold-accent);
  margin-bottom: 1rem;
}

.service-card p {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.6;
  display: flex;
  justify-content: center;
}

.service-card li {
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.6;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    gap: 1rem;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }
}
